<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoxiaobang.community.dao.BlackfriendMapper">
  <resultMap id="BaseResultMap" type="com.gaoxiaobang.community.entity.Blackfriend">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="targetid" jdbcType="INTEGER" property="targetid" />
    <result column="statue" jdbcType="TINYINT" property="statue" />
  </resultMap>
  <insert id="insert" parameterType="com.gaoxiaobang.community.entity.Blackfriend">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into blackfriend (userid, targetid, statue
      )
    values (#{userid,jdbcType=INTEGER}, #{targetid,jdbcType=INTEGER}, #{statue,jdbcType=TINYINT}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, userid, targetid, statue
    from blackfriend
  </select>
</mapper>