<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoxiaobang.community.dao.UserPasswordMapper">
  <resultMap id="BaseResultMap" type="com.gaoxiaobang.community.entity.UserPassword">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="salt" jdbcType="CHAR" property="salt" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="statue" jdbcType="TINYINT" property="statue" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_password
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gaoxiaobang.community.entity.UserPassword">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_password (userid, salt, `password`, 
      statue)
    values (#{userid,jdbcType=INTEGER}, #{salt,jdbcType=CHAR}, #{password,jdbcType=VARCHAR}, 
      #{statue,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gaoxiaobang.community.entity.UserPassword">
    update user_password
    set userid = #{userid,jdbcType=INTEGER},
      salt = #{salt,jdbcType=CHAR},
      `password` = #{password,jdbcType=VARCHAR},
      statue = #{statue,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, userid, salt, `password`, statue
    from user_password
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, userid, salt, `password`, statue
    from user_password
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, userid, salt, `password`, statue
    from user_password
  </select>
</mapper>